.box-part .puger {
    height: 700px;
    width: auto;
    margin-left: 20%;
    position: relative;
}

.part-puger {
    position: absolute;
    top: 100%;
    width: 400px;
    left: 75%;
    transform: translate(-50%, -50%);
}

.part-puger ul .umbulsari {
    margin-top: 20%;
    margin-left: 220px;
}

.part-puger ul .kencong {
    margin-top: 100px;
    margin-left: -20px;
}

.part-puger ul .puger {
    margin-top: 57px;
    margin-left: 157px;
}

.part-puger ul .gumukmas {
    margin-top: 130px;
    margin-left: -257px;
}